@import 'tailwindcss';
@import 'tw-animate-css';
@plugin 'tailwind-scrollbar';
@import 'tailwind-scrollbar-hide/v4';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --animate-aurora: aurora 8s ease-in-out infinite alternate;
  @keyframes aurora {
    0% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
    25% {
      background-position: 50% 100%;
      transform: rotate(5deg) scale(1.1);
    }
    50% {
      background-position: 100% 50%;
      transform: rotate(-3deg) scale(0.95);
    }
    75% {
      background-position: 50% 0%;
      transform: rotate(3deg) scale(1.05);
    }
    100% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
  }
  --animate-shimmer-slide: shimmer-slide var(--speed) ease-in-out infinite
    alternate;
  --animate-spin-around: spin-around calc(var(--speed) * 2) infinite linear;
  --color-highlight: var(--highlight);
  --color-brand: var(--brand);
  --color-link: var(--link);
  --color-contrast: var(--contrast);
  --color-progress: var(--progress);

  @keyframes shimmer-slide {
    to {
      transform: translate(calc(100cqw - 100%), 0);
    }
  }
  @keyframes spin-around {
    0% {
      transform: translateZ(0) rotate(0);
    }
    15%,
    35% {
      transform: translateZ(0) rotate(90deg);
    }
    65%,
    85% {
      transform: translateZ(0) rotate(270deg);
    }
    100% {
      transform: translateZ(0) rotate(360deg);
    }
  }
  @keyframes shimmer-slide {
    to {
      transform: translate(calc(100cqw - 100%), 0);
    }
  }
  @keyframes spin-around {
    0% {
      transform: translateZ(0) rotate(0);
    }
    15%,
    35% {
      transform: translateZ(0) rotate(90deg);
    }
    65%,
    85% {
      transform: translateZ(0) rotate(270deg);
    }
    100% {
      transform: translateZ(0) rotate(360deg);
    }
  }
}

:root {
  --brand: oklch(0.623 0.214 259.815);

  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: #1f1f1f;
  --card: oklch(1 0 0);
  --card-foreground: #1a1b1f;
  --popover: oklch(1 0 0);
  --popover-foreground: #1a1b1f;
  --primary: #005cbb;
  --primary-foreground: oklch(1 0 0);
  --secondary: #f1f3f4;
  --secondary-foreground: #1f1f1f;
  --muted: #f1f3f4;
  --muted-foreground: #5f6368;
  --accent: oklch(96.558% 0.01725 248.156);
  --accent-foreground: #005cbb;
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: #005cbb;
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: #1a1b1f;
  --sidebar-primary: #1f1f1f;
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: #f1f3f4;
  --sidebar-accent-foreground: #1f1f1f;
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --highlight: oklch(0.852 0.199 91.936);
  --link: #005cbb;
  --contrast: oklch(0.985 0 0);
  --progress: #005cbb;
}

.dark {
  --brand: oklch(0.707 0.165 254.624);

  --background: #0f0f0f;
  --foreground: #e8e8e8;
  --card: #282828;
  --card-foreground: #e8e8e8;
  --popover: #282828;
  --popover-foreground: #e8e8e8;
  --primary: #99c3ff;
  --primary-foreground: oklch(14.479% 0.00002 271.152);
  --secondary: #ffffff1a;
  --secondary-foreground: #e8e8e8;
  --muted: #ffffff1a;
  --muted-foreground: #aaaaaa;
  --accent: #ffffff1a;
  --accent-foreground: oklch(97.034% 0.01038 248.179);
  --destructive: oklch(0.704 0.191 22.216);
  --border: #30363d;
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(78.53% 0.10424 274.718);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: #3c4043;
  --sidebar-ring: oklch(0.556 0 0);
  --highlight: oklch(0.852 0.199 91.936);
  --link: #99c3ff;
  --contrast: #e8e8e8;
  --progress: #99c3ff;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  button:not([disabled]),
  [role='button']:not([disabled]) {
    cursor: pointer;
  }
  html,
  :host {
    -webkit-tap-highlight-color: revert;
  }

  .custom_scrollbar {
    @apply scrollbar-thin scrollbar-thumb-foreground/30 scrollbar-track-transparent;
  }
}
