@import 'tailwindcss';
@import 'tw-animate-css';
@plugin 'tailwind-scrollbar';
@import 'tailwind-scrollbar-hide/v4';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --animate-aurora: aurora 8s ease-in-out infinite alternate;
  @keyframes aurora {
    0% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
    25% {
      background-position: 50% 100%;
      transform: rotate(5deg) scale(1.1);
    }
    50% {
      background-position: 100% 50%;
      transform: rotate(-3deg) scale(0.95);
    }
    75% {
      background-position: 50% 0%;
      transform: rotate(3deg) scale(1.05);
    }
    100% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
  }
  --animate-shimmer-slide: shimmer-slide var(--speed) ease-in-out infinite
    alternate;
  --animate-spin-around: spin-around calc(var(--speed) * 2) infinite linear;
  --color-highlight: var(--highlight);
  --color-brand: var(--brand);
  --color-link: var(--link);
  --color-contrast: var(--contrast);
  --color-progress: var(--progress);

  @keyframes shimmer-slide {
    to {
      transform: translate(calc(100cqw - 100%), 0);
    }
  }
  @keyframes spin-around {
    0% {
      transform: translateZ(0) rotate(0);
    }
    15%,
    35% {
      transform: translateZ(0) rotate(90deg);
    }
    65%,
    85% {
      transform: translateZ(0) rotate(270deg);
    }
    100% {
      transform: translateZ(0) rotate(360deg);
    }
  }
  @keyframes shimmer-slide {
    to {
      transform: translate(calc(100cqw - 100%), 0);
    }
  }
  @keyframes spin-around {
    0% {
      transform: translateZ(0) rotate(0);
    }
    15%,
    35% {
      transform: translateZ(0) rotate(90deg);
    }
    65%,
    85% {
      transform: translateZ(0) rotate(270deg);
    }
    100% {
      transform: translateZ(0) rotate(360deg);
    }
  }

  --animate-rotate: rotate var(--duration, 1.4s) linear infinite;
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  --animate-dash: dash var(--duration, 1.4s)
    var(--easing, cubic-bezier(0.4, 0, 0.2, 1)) infinite;
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }

    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }

    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px;
    }
  }
}

:root {
  --brand: oklch(0.623 0.214 259.815);

  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: oklch(23.929% 0.00003 271.152);
  --card: oklch(1 0 0);
  --card-foreground: oklch(22.277% 0.00793 274.569);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(22.277% 0.00793 274.569);
  --primary: oklch(48.704% 0.16717 256.148);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(96.292% 0.00261 230.408);
  --secondary-foreground: oklch(23.929% 0.00003 271.152);
  --muted: oklch(96.292% 0.00261 230.408);
  --muted-foreground: oklch(49.788% 0.00944 254.023);
  --accent: oklch(96.558% 0.01725 248.156);
  --accent-foreground: oklch(48.704% 0.16717 256.148);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(48.704% 0.16717 256.148);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(22.277% 0.00793 274.569);
  --sidebar-primary: oklch(23.929% 0.00003 271.152);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(96.558% 0.01725 248.156);
  --sidebar-accent-foreground: oklch(48.704% 0.16717 256.148);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(48.704% 0.16717 256.148);
  --highlight: oklch(0.852 0.199 91.936);
  --link: oklch(48.704% 0.16717 256.148);
  --contrast: oklch(0.985 0 0);
  --progress: oklch(48.704% 0.16717 256.148);
}

.dark {
  --brand: oklch(0.707 0.165 254.624);

  --background: oklch(16.842% 0.00002 271.152);
  --foreground: oklch(93.1% 0.00011 271.152);
  --card: oklch(24.776% 0.00003 271.152);
  --card-foreground: oklch(93.1% 0.00011 271.152);
  --popover: oklch(24.776% 0.00003 271.152);
  --popover-foreground: oklch(93.1% 0.00011 271.152);
  --primary: oklch(80.926% 0.09672 257.313);
  --primary-foreground: oklch(14.479% 0.00002 271.152);
  --secondary: oklch(100% 0.00011 271.152 / 0.102);
  --secondary-foreground: oklch(93.1% 0.00011 271.152);
  --muted: oklch(100% 0.00011 271.152 / 0.102);
  --muted-foreground: oklch(73.802% 0.00008 271.152);
  --accent: oklch(100% 0.00011 271.152 / 0.102);
  --accent-foreground: oklch(97.034% 0.01038 248.179);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(32.999% 0.01492 252.364);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(78.53% 0.10424 274.718);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(16.842% 0.00002 271.152);
  --sidebar-foreground: oklch(93.1% 0.00011 271.152);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(100% 0.00011 271.152 / 0.102);
  --sidebar-accent-foreground: oklch(97.034% 0.01038 248.179);
  --sidebar-border: oklch(32.999% 0.01492 252.364);
  --sidebar-ring: oklch(78.53% 0.10424 274.718);
  --highlight: oklch(0.852 0.199 91.936);
  --link: oklch(80.926% 0.09672 257.313);
  --contrast: oklch(93.1% 0.00011 271.152);
  --progress: oklch(80.926% 0.09672 257.313);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  button:not([disabled]),
  [role='button']:not([disabled]) {
    cursor: pointer;
  }
  html,
  :host {
    -webkit-tap-highlight-color: revert;
  }

  .custom_scrollbar {
    @apply scrollbar-thin scrollbar-thumb-foreground/30 scrollbar-track-transparent;
  }
}

@utility sticky-below-header {
  top: calc(4rem - var(--header-offset, 0px));
}
